<div class="jumbotron text-center my-4">
    <div class="container">
        <h1 class="display-3">{{titulo}}</h1>
        <h2 class="display-4">{{saludo}}</h2>
        <p class="lead">La app para dar a conocer las noticias a todo el mundo</p>
        <a class="btn btn-dark btn-long" href="/news">Ve las noticias</a>
    </div>
</div>